<title>
  RESTful API
</title>

<table class="table table-hover table-bordered">
  <tbody>
  <tr class="info">
      <td>
        URI
      </td>
      <td>
        HTTP Method
      </td>
      <td>
        POST body
      </td>
      <td>
        Result
      </td>
  </tr>
    <tr>
      <td>
        /company
      </td>
      <td>
        GET
      </td>
      <td>
        Empty
      </td>
      <td>
        Shows list of all the air-companies.
      </td>
    </tr>
    <tr>
        <td>
          /company
        </td>
        <td>
          POST
        </td>
        <td>
          JSON String
        </td>
        <td>
          Adds detail of new air-company
        </td>
    </tr>
      <tr>
        <td>
          /company/{id}
        </td>
        <td>
          DELETE
        </td>
        <td>
          Empty
        </td>
        <td>
          Deletes existing user.
        </td>
      </tr>
      <tr>
          <td>
            /company/{id}
          </td>
          <td>
            GET
          </td>
          <td>
            Empty
          </td>
          <td>
            Returns air-company on id
          </td>
      </tr>
      <tr>
          <td>
            /company/{id}
          </td>
          <td>
            PUT
          </td>
          <td>
            JSON String
          </td>
          <td>
            Updates air-company on id
          </td>
      </tr>
    </tbody>
</table>
