<style>
  li {
    max-width: 600px;
  }

  .jumbotron {
    max-width: 600px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 5px 2px 5px 2px;
  }

  .icons {
    margin-bottom: 10px;
  }
</style>

<script>
  function saveFunc(id) {
    $('#' + id + ' .edit-form').hide();
    $('#' + id + ' #save').hide();
    $('#' + id + ' li').show();
    var inputs = $('#' + id + ' input');
    var arr = {
      'id': id
    };
    for (var i = 0; i < inputs.length; i++) {
      arr[inputs[i].name] = inputs[i].value;
    }
    $.ajax({
      url: '/mvc/edit-company',
      type: 'POST',
      contentType: 'application/json',
      data: JSON.stringify(arr),
      success: function(result) {
        if (result.success) {
          $('#' + id).effect('highlight', {
            color: '#2C3E50'
          }, 3000);
          var childs = $('#' + id + ' li').children();
          for (var i = 0; i < childs.length; i++) {
            childs[i].textContent = result.childs[childs[i].className];
          }
        } else {
          alert('ERROR NOT IMPLEMENTED');
        }
      },
    });
  }

  function deleteFunc(id) {
    var json =
      $.ajax({
        url: '/mvc/del-company',
        type: 'POST',
        contentType: 'application/json',
        data: JSON.stringify({
          'id': id
        }),
        success: function(result) {
          if (result.success) {
            $('#' + id).fadeOut(1000, function() {
              $(this).remove();
            });
          } else {
            alert('ERROR NOT IMPLEMENTED');
          }
        },
      });
  }

  function editFunc(id) {
    $('#' + id + ' ul').children().hide();
    var children = $('#' + id + ' li').children();
    if ($('#' + id + ' .icons #save').length === 0) {
      var button = '<button id="save" onclick="saveFunc(\'' + id + '\')"><i class="fa fa-check"></i></button>';
      $('#' + id + ' .icons').append(button);
    } else {
      $('#' + id + ' #save').show();
    }

    if ($('#' + id + ' .edit-form').length === 0) {
      $('<div class="edit-form" style="margin-bottom:25px;"></div>').appendTo('#' + id);
      for (var i = 0; i < children.length; i++) {
        $('<input>').attr({
          type: 'text',
          value: children[i].textContent,
          name: children[i].className,
          class: 'form-control',
        }).appendTo('#' + id + ' .edit-form');
      }
    } else {
      $('#' + id + ' .edit-form').show();
    }
  }
</script>
<a href="/mvc/new-company" style="float:right; color: #2c3e50;font-size:130%"><i class="fa fa-plus"></i></a>

{{#each companies}}
  <div class="jumbotron" id="{{id}}">
    <div class="icons" align="right">
      <button onclick="editFunc('{{id}}')"><i class="fa fa-pencil-square-o"></i></button>
      <button onclick="deleteFunc('{{id}}')"><i class="fa fa-trash"></i></button>
    </div>
    <ul class="list-group">
      <li class="list-group-item">
        Дата рішення про надання/зміну права:
        <strong class="decisionDate">{{decisionDate}}</strong>
      </li>

      <li class="list-group-item">
        № права:
        <strong class="authorityCode">{{authorityCode}}</strong>
      </li>

      <li class="list-group-item">
        Тип права:
        <strong class="authorityType">{{authorityType}}</strong>
      </li>

      <li class="list-group-item">
        Назва і код ІКАО / ІАТА авіаперевізника:
        <strong class="carrierCodeName">{{carrierCodeName}}</strong>
      </li>

      <li class="list-group-item">
        Країна призначення:
        <strong class="destCountry">{{destCountry}}</strong>
      </li>

      <li class="list-group-item">
        Маршрут:
        <strong class="route">{{route}}</strong>
      </li>

      <li class="list-group-item">
        Частота рейсів:
        <strong class="flightFrequency">{{flightFrequency}}</strong>
      </li>

      <li class="list-group-item">
        Дата початку дії права:
        <strong class="authorityStartDate">{{authorityStartDate}}</strong>
      </li>

      <li class="list-group-item">
        Підстава надання:
        <strong class="confirmationBase">{{confirmationBase}}</strong>
      </li>

      <li class="list-group-item">
        Дата видачі:
        <strong class="confirmationDate">{{confirmationDate}}</strong>
      </li>
    </ul>
  </div>
{{/each}}

<nav>
<ul class="pagination" style="width:100%; display: inline-block;">
  <li class="page-item">
     <a class="page-link" href="/mvc/company/{{prev}}" aria-label="Previous">
       <span aria-hidden="true">&laquo;</span>
       <span class="sr-only">Previous</span>
     </a>
   </li>
  <li class="page-item" style="float:right">
      <a class="page-link" href="/mvc/company/{{next}}" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
        <span class="sr-only">Next</span>
      </a>
    </li>
</ul>
</nav>
