<h1 style="font-size: 24px">Government Registry on RedHat Cloud</h1>

<div class="list-group">
    <a href="/api" class="list-group-item">Lab №1: <strong>RESTful API</strong></a>
    <a href="/mvc/company" class="list-group-item">Lab №2: <strong>CRUD MVC using NodeJS with Express and Handlebars view engine</strong></a>
    <a href="/mvw/company" class="list-group-item">Lab №3: <strong>CRUD MVW using ReactJS, ES6-specs Babel, Webpack</strong></a>
</div>
