<style>
  .add-form {
    max-width: 700px;
    margin: 0 auto;
  }

  .btn {
    float: right;
  }

  .jumbotron {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .jumbotron p {
    font-size: 14px;
  }

  input[type=number]::-webkit-outer-spin-button,
  input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type=number] {
    -moz-appearance: textfield;
  }
</style>

<form action="/add-company" method="post">
  <div class="add-form jumbotron">
    <div class="form-group">
      <label for="decisionDate">Дата рішення про надання/зміну права</label>
      <input type="date" value="{{item.decisionDate}}" class="form-control" id="decisionDate" name="decisionDate" placeholder="дд.мм.рррр">
    </div>

    <div class="form-group">
      <label for="authorityCode">№ права</label>
      <input type="number" class="form-control" id="authorityCode" name="authorityCode" placeholder="Номер права">
    </div>

    <div class="form-group">
      <label for="authorityType">Тип права</label>
      <input type="text" class="form-control" id="authorityType" name="authorityType" placeholder="Тип права">
    </div>

    <div class="form-group">
      <label for="carrierCodeName">Назва і код ІКАО / ІАТА авіаперевізника</label>
      <input type="text" class="form-control" id="carrierCodeName" name="carrierCodeName" placeholder="Українське найменуваня / (Міжнародне)">
    </div>

    <div class="form-group">
      <label for="destCountry">Країна призначення</label>
      <input type="text" class="form-control" id="destCountry" name="destCountry" placeholder="Кінцевий пункт">
    </div>

    <div class="form-group">
      <label for="route">Маршрут</label>
      <input type="text" class="form-control" id="route" name="route" placeholder="Країна вильоту-Транзит">
    </div>

    <div class="form-group">
      <label for="flightFrequency">Частота рейсів</label>
      <input type="text" class="form-control" id="flightFrequency" name="flightFrequency" placeholder="<число> р/т">
      <p class="help-block">разів/тиждень, або разів/місяць, або разів/рік </p>
    </div>

    <div class="form-group">
      <label for="authorityStartDate">Дата початку дії права</label>
      <input type="text" class="form-control" id="authorityStartDate" name="authorityStartDate" placeholder="дд.мм.рррр">
    </div>

    <div class="form-group">
      <label for="confirmationBase">Підстава надання</label>
      <input type="text" class="form-control" id="confirmationBase" name="confirmationBase" placeholder="Тип та номер документу">
    </div>

    <div class="form-group">
      <label for="confirmationDate">Дата видачі</label>
      <input type="text" class="form-control" id="confirmationDate" name="confirmationDate" placeholder="дд.мм.рррр">
    </div>

    <button type="submit" class="btn btn-primary">Додати</button>
  </div>
</form>
