<!doctype html>
<html>
<head>
    <title>Air Companies SPA</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.6/flatly/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/spa/styles.css">
    {{#if showTests}}
        <link rel="stylesheet" href="/spa/public/vendor/mocha.css">
    {{/if}}
</head>
<body>
<div id="app">
</div>
{{#if showTests}}
    <div id="mocha"></div>
    <script src="/spa/public/vendor/mocha.js"></script>
    <script src="/spa/public/vendor/chai.js"></script>
    <script>
        var assert = chai.assert;
        mocha.ui('bdd');
    </script>
    <script src="/spa/dist/tests.min.js"></script>
    <script>mocha.run();</script>
{{else}}
    <script src="/spa/dist/client.min.js"></script>
{{/if}}
<script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
</body>
</html>